.header
{
  background-color: green;
}

.profile
{
  background-image: URL("../img/survey.png");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.6;
  color: black;
  font-family: 'Just Another Hand', sans-serif;
  letter-spacing: 2px;
}

.ul_top {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

.li_top {
  float: left;
}

.li_top a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.li_top:hover {
  background-color: grey;
}

.title_top
{
  font-family: 'Dosis', sans-serif;
  font-size: 25px;
  letter-spacing: 3px;
  text-align: left;
}

.box
{
  border: 3px solid black;
}


.form input
{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
